$main-color: #ffce0c;
$second-color: #ffd73b;

.Button {
  background: $main-color;
  border-radius: 4px;
  border: 1px solid $main-color;
  outline: none;
  padding: 10px 24px 12px;
  cursor: pointer;
  font-weight: 700;
  color: #333333;
  transition: all 0.4s ease;
  box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.2);

  &:hover {
    background: $second-color;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12);
    transition: all 0.4s ease;
  }

  &:active {
    background: #ffc40c;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.12);
  }

  &:focus {
    border: 1px solid #fffbea;
    box-shadow: 0px 1px 10px $second-color;
  }

  &:disabled {
    box-shadow: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
}
